<h2>Cuestionario</h2>

<h4>Bienvenido empresa 1</h4>

<div *ngFor="let pregunta of detallecuestionarios; let i = index" [hidden]="i !==preguntaActual">
  {{pregunta.pregunta.npregunta}}
  
  <div id="checkbox-list">
    <div>
      <label>
        <input type="checkbox" [value]="1" name="check" (change)="onChange('1')" (change)="onCheckboxChange($event)"> No definido
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" [value]="2" name="check" (change)="onChange('2')" (change)="onCheckboxChange($event)"> MIL 0
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" [value]="3" name="check" (change)="onChange('3')" (change)="onCheckboxChange($event)"> MIL 1
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" [value]="4" name="check" (change)="onChange('4')" (change)="onCheckboxChange($event)"> MIL 2
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" [value]="5" name="check" (change)="onChange('5')" (change)="onCheckboxChange($event)"> MIL 3
      </label>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <button class="btn btn-primary" role="button" (click)="siguientePregunta(i)">Siguiente</button>
    </div>
  </div>

</div>

{{respuestaSeleccionada}}
