/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el cuestionario */
  .cuestionario {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .pregunta {
    margin-bottom: 20px;
  }
  
  .pregunta h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .respuestas {
    display: flex;
    flex-direction: column;
  }
  
  .respuesta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .respuesta input[type="radio"] {
    margin-right: 10px;
  }
  
  .respuesta label {
    font-size: 16px;
  }
  
  .btn-siguiente {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-siguiente:hover {
    background-color: #0062cc;
  }
  