<div class="agradecimiento">
    <h1>Gracias por responder al cuestionario</h1>
    <p>Muchas gracias por tomarse el tiempo para completar la encuesta!</p>
    <button (click)="salir()">Cerrar sesion</button>

    <div class="vermas">Ver reportes más abajo</div>
</div>
<br>
<br>
<div class="charts">
    <h1>Reportes</h1>
    <div class="radio-charts">
        <div class="radio-celda">
            <h2>Reporte por Funcion</h2>
            <canvas id="Funciones"></canvas>
        </div>
        <div class="radio-celda">
            <h2>Reporte por Subcategoria</h2>
            <canvas id="Subcategorias"></canvas>
        </div>
    </div>
</div>  
<div class="contenedortabla">
    <h2>Reporte principal</h2>

<div class="tabla">
    <div class="fila">
        <div class="textoizq"><h3>MIL 3</h3></div>
        <div class="celda"><canvas id="chart11"></canvas></div>
        <div class="celda"><canvas id="chart12"></canvas></div>
        <div class="celda"><canvas id="chart13"></canvas></div>
        <div class="celda"><canvas id="chart14"></canvas></div>
        <div class="celda"></div>
        <div class="celda"><canvas id="chart16"></canvas></div>
        <div class="celda"><canvas id="chart17"></canvas></div>
        <div class="celda"></div>
        <div class="celda"></div>
    </div>
    <div class="fila">
        <div class="textoizq"><h3>MIL 2</h3></div>
        <div class="celda"><canvas id="chart21"></canvas></div>
        <div class="celda"><canvas id="chart22"></canvas></div>
        <div class="celda"><canvas id="chart23"></canvas></div>
        <div class="celda"><canvas id="chart24"></canvas></div>
        <div class="celda"></div>
        <div class="celda"><canvas id="chart26"></canvas></div>
        <div class="celda"><canvas id="chart27"></canvas></div>
        <div class="celda"><canvas id="chart28"></canvas></div>
        <div class="celda"></div>
    </div>
    <div class="fila">
        <div class="textoizq"><h3>MIL 1</h3></div>
        <div class="celda"><canvas id="chart31"></canvas></div>
        <div class="celda"><canvas id="chart32"></canvas></div>
        <div class="celda"><canvas id="chart33"></canvas></div>
        <div class="celda"><canvas id="chart34"></canvas></div>
        <div class="celda"><canvas id="chart35"></canvas></div>
        <div class="celda"><canvas id="chart36"></canvas></div>
        <div class="celda"><canvas id="chart37"></canvas></div>
        <div class="celda"><canvas id="chart38"></canvas></div>
        <div class="celda"><canvas id="chart39"></canvas></div>
    </div>
    <div class="fila">
        <div class="textoizq"></div>
        <div class="celda"><h5>ID.AM-2</h5></div>
        <div class="celda"><h5>PR.AT-2</h5></div>
        <div class="celda"><h5>PR.IP-1</h5></div>
        <div class="celda"><h5>PR.PT-4</h5></div>
        <div class="celda"><h5>DE.AE-1</h5></div>
        <div class="celda"><h5>DE.AE-5</h5></div>
        <div class="celda"><h5>DE.CM-1</h5></div>
        <div class="celda"><h5>RS.CO-1</h5></div>
        <div class="celda"><h5>RS.MI-2</h5></div>
    </div>
    <div class="fila">
        <div class="textoizq"><h5>MIL logrado</h5></div>
        <div class="celda"><h5>MIL 2</h5></div>
        <div class="celda"><h5>MIL 2</h5></div>
        <div class="celda"><h5>MIL 2</h5></div>
        <div class="celda"><h5>MIL 1</h5></div>
        <div class="celda"><h5>MIL 1</h5></div>
        <div class="celda"><h5>MIL 1</h5></div>
        <div class="celda"><h5>MIL 0</h5></div>
        <div class="celda"><h5>MIL 1</h5></div>
        <div class="celda"><h5>MIL 1</h5></div>
    </div>
</div>


</div>





<!-- <div>
    <table>
        <thead>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="textoizq"><h1>MIL 3</h1></td>
                <td class="celda"><canvas id="chart1"></canvas></td>
                <td class="celda"><canvas id="chart2"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
            </tr>
            <tr>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
            </tr>
            <tr>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
            </tr>
            <tr>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
            </tr>
            <tr>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
            </tr>
        </tbody>
    </table>     
</div>-->
