<div class="agradecimiento">
    <h1>Gracias por responder al cuestionario</h1>
    <p>Muchas gracias por tomarse el tiempo para completar la encuesta!</p>
    <button (click)="salir()">Cerrar sesion</button>
</div>
<br>
<br>
<div class="charts">
    <h1>Reportes</h1>
    <div class="radio-charts">
        <div class="radio-celda">
            <canvas id="Funciones"></canvas>
        </div>
        <div class="radio-celda">
            <canvas id="Subcategorias"></canvas>
        </div>
    </div>
</div>  
<h2>Reporte principal</h2>

<div class="tabla">
    <div class="fila">
        <div class="textoizq"><h3>MIL 3</h3></div>
        <div class="celda"><canvas id="ID.AM-2"></canvas></div>
        <div class="celda"><canvas id="chart2"></canvas></div>
    </div>

</div>




<!-- <div>
    <table>
        <thead>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="textoizq"><h1>MIL 3</h1></td>
                <td class="celda"><canvas id="chart1"></canvas></td>
                <td class="celda"><canvas id="chart2"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
            </tr>
            <tr>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
            </tr>
            <tr>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
            </tr>
            <tr>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
            </tr>
            <tr>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
                <td><canvas id="chart1"></canvas></td>
            </tr>
        </tbody>
    </table>     
</div>-->
