*{
  /* border: 1px solid red; */
}

.agradecimiento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 60px;
  padding-right: 60px;
}
  
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
  
p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

button {
  background-color: firebrick;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darkred;
}

.charts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.vermas{
  position: absolute;
  font-size: 18px;
  bottom: 35px;
  color: gray;
}

.charts h1{
  margin-bottom: 65px;
}

.radio-charts{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  gap: 0px;
  height: auto;

  margin-bottom: 50px;

}

.radio-celda{
  display: inline-block;
  position: relative;
  width: 400px;
}

.radio-celda h2{
  text-align: center;
  font-size: 25px;
  margin-bottom: 45px;
}

.textoizq{

  /* border: 1px solid purple; */
  width: 115px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.textoizq h3{
  
}

.fila{
  display: flex;
  flex-direction: row;
}

.celda{
  display: inline-block;
  position: relative;
  width: 115px;
  margin: 10px;

  /* border: 1px solid blue; */
} 

.celda h5{
  text-align: center;
  padding-top: 13px;

  font-size: 15px;
}

.textoizq h5{
  margin: 0;
}

.tabla{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.fila{
  display: flex;
  /* width: 1150px; */
  justify-content: center;
}

.contenedortabla{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.contenedortabla h2{
  text-align: center;
  margin-bottom: 45px;

  font-size: 25px;
}