*{
  /* border: 1px solid red; */
}
  
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
  
p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.titulo{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  font-size: 35px;
}

button {
  background-color: mediumaquamarine;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

button:hover {
  background-color: mediumseagreen;
}

.contenedorbutton{
  display: flex;
  justify-content: center;

  margin-top: 35px;
  margin-bottom: 40px;
}

.charts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-top: 70px;
}


.radio-charts{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 50px;
  height: auto;

  margin-bottom: 50px;

}

.radio-celda{
  display: inline-block;
  position: relative;
  width: 600px;

  border: 1px solid gray;
  padding: 25px;
}

.radio-celda h2{
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.textoizq{

  /* border: 1px solid purple; */
  width: 115px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.textoizq h3{
  
}

.fila{
  display: flex;
  flex-direction: row;
}

.celda{
  display: inline-block;
  position: relative;
  width: 115px;
  margin: 10px;

  /* border: 1px solid blue; */
} 

.celda h5{
  text-align: center;
  padding-top: 13px;

  font-size: 15px;
}

.textoizq h5{
  margin: 0;
}

.tabla{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


  width: auto;
}

.fila{
  display: flex;
  /* width: 1150px; */
  justify-content: center;
}

.contenedortabla{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;

  width: 100%;

  /* border: 1px solid blue; */
}


.contenedortabla h2{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 15px;

  font-size: 25px;

  width: auto;
}

.legenda{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 25px;
  margin-top: 40px;

  width: auto;
}

.item-legenda{
  display: flex;
  gap: 7px;

  width: auto;

  
}

.textocelda{
  font-size: 15px;

  
}

.ni-celda{
  width: 25px;
  height: 25px;

  background-color: rgb(255, 99, 132);
}

.pi-celda{
  width: 25px;
  height: 25px;

  background-color: rgb(54, 162, 235);
}

.li-celda{
  width: 25px;
  height: 25px;

  background-color: rgb(255, 205, 86);
}

.fi-celda{
  width: 25px;
  height: 25px;

  background-color: rgb(150, 80, 235);
}


.titulo-radio-charts{

}