*{
  /* border: 1px solid red; */
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  button {
    background-color: firebrick;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: darkred;
  }
  
  .charts{
    display: flex;
    flex-direction: column;
  }

  .radio-charts{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    gap: 70px;

    margin-bottom: 50px;
  }

  .principal-chart{
    padding-bottom: 50px;
  }
