<div>
    <h1>Gracias por responder al cuestionario</h1>
    <p>Muchas gracias por tomarse el tiempo para completar la encuesta!</p>
    <!-- <p><b>Nota: </b>No se puede regresar a la pregunta anterior, por lo que debe marcar cuidadosamente.</p> -->
    <button (click)="salir()">Cerrar sesion</button>
</div>
<br>
<br>
<div class="charts">
    <h1>Reportes</h1>
    <div class="radio-charts">
        <canvas id="Funciones"></canvas>
        <canvas id="Subcategorias"></canvas>
    </div>
    <div class="principal-chart">
        Reporte principal
        <canvas id="chart1"></canvas>  
    </div>
</div>  



