<div class="contenedor-main" *ngIf = "mostrarDiv==true">
    <div class="contenedor-header">
        <div class="titulo">
            Análisis de brechas
        </div>
        <div class="contenedor-botones">
            <div class="boton-pdf" *ngIf="mostrarPDF==true">
                <a href="../../assets/sp800-53r5-control-catalog.pdf" target="_blank">
                    <button>
                        <i class="fa-solid fa-file-pdf fa-xl"></i>Ver Detalle de las contramedidas
                    </button>
                </a>
            </div>
            <div>
                <button (click)="saveChanges()" class="boton-actualizar">Obtener priorización</button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Subcategoria</th>
                <th>Descripcion subcategoria</th>
                <!-- <th>Priorización DDoS (1-3)</th> -->
                <th>Nivel Actual (0-3)</th>
                <th>Nivel Deseado (0-3)</th>
                <!-- <th>Brecha identificada</th> -->
                <th>Priorización sugerida (1-4)</th>
                <th>Código de las Contramedidas</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-light">
                <td>{{ subcategorias[1].csubcategoria }}</td>
                <td>{{ subcategorias[1].siglasubcategoria }}</td>
                <td>{{ subcategorias[1].nsubcategoria }}</td>
                <td>{{ 'MIL ' + idam2 }}</td>
                <td>{{ 'MIL' }}<input type="text" [(ngModel)]="deseadoidam2"></td>
                <td [ngClass]="getCellColoridam2()">{{ prioidam2 }}</td>
                <td>{{ contraidam2 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[37].csubcategoria }}</td>
                <td>{{ subcategorias[37].siglasubcategoria }}</td>
                <td>{{ subcategorias[37].nsubcategoria }}</td>
                <td>{{ 'MIL ' + prat2 }}</td>
                <td>{{ 'MIL' }}<input type="text" [(ngModel)]="deseadoprat2"></td>
                <td [ngClass]="getCellColorprat2()">{{ prioprat2 }}</td>
                <td>{{ contraprat2 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[50].csubcategoria }}</td>
                <td>{{ subcategorias[50].siglasubcategoria }}</td>
                <td>{{ subcategorias[50].nsubcategoria }}</td>
                <td>{{ 'MIL ' + prip1 }}</td>
                <td>{{ 'MIL' }}<input type="text" [(ngModel)]="deseadoprip1"></td>
                <td [ngClass]="getCellColorprip1()">{{ prioprip1 }}</td>
                <td>{{ contraprip1 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[67].csubcategoria }}</td>
                <td>{{ subcategorias[67].siglasubcategoria }}</td>
                <td>{{ subcategorias[67].nsubcategoria }}</td>
                <td>{{ 'MIL ' + prpt4 }}</td>
                <td>{{ 'MIL' }}<input type="text" [(ngModel)]="deseadoprpt4"></td>
                <td [ngClass]="getCellColorprpt4()">{{ prioprpt4 }}</td>
                <td>{{ contraprpt4 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[69].csubcategoria }}</td>
                <td>{{ subcategorias[69].siglasubcategoria }}</td>
                <td>{{ subcategorias[69].nsubcategoria }}</td>
                <td>{{ 'MIL ' + deae1}}</td>
                <td>{{ 'MIL' }}<input type="text" [(ngModel)]="deseadodeae1"></td>
                <td [ngClass]="getCellColordeae1()">{{ priodeae1 }}</td>
                <td>{{ contradeae1 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[73].csubcategoria }}</td>
                <td>{{ subcategorias[73].siglasubcategoria }}</td>
                <td>{{ subcategorias[73].nsubcategoria }}</td>
                <td>{{ 'MIL ' + deae5 }}</td>
                <td>{{ 'MIL' }}<input type="text" [(ngModel)]="deseadodeae5"></td>
                <td [ngClass]="getCellColordeae5()">{{ priodeae5 }}</td>
                <td>{{ contradeae5 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[74].csubcategoria }}</td>
                <td>{{ subcategorias[74].siglasubcategoria }}</td>
                <td>{{ subcategorias[74].nsubcategoria }}</td>
                <td>{{ 'MIL ' + decm1 }}</td>
                <td>{{ 'MIL' }}<input type="text" [(ngModel)]="deseadodecm1"></td>
                <td [ngClass]="getCellColordecm1()">{{ priodecm1 }}</td>
                <td>{{ contradecm1 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[91].csubcategoria }}</td>
                <td>{{ subcategorias[91].siglasubcategoria }}</td>
                <td>{{ subcategorias[91].nsubcategoria }}</td>
                <td>{{ 'MIL ' + rsco1 }}</td>
                <td>{{ 'MIL' }}<input type="text" [(ngModel)]="deseadorsco1"></td>
                <td [ngClass]="getCellColorrsco1()">{{ priorsco1 }}</td>
                <td>{{ contrarsco1 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[89].csubcategoria }}</td>
                <td>{{ subcategorias[89].siglasubcategoria }}</td>
                <td>{{ subcategorias[89].nsubcategoria }}</td>
                <td>{{ 'MIL ' + rsmi2 }}</td>
                <td>{{ 'MIL' }}<input type="text" [(ngModel)]="deseadorsmi2"></td>
                <td [ngClass]="getCellColorrsmi2()">{{ priorsmi2 }}</td>
                <td>{{ contrarsmi2 }}</td>
            </tr>

            <!-- <tr class="table-light">
                <td>{{ subcategorias[1].csubcategoria }}</td>
                <td>{{ subcategorias[1].siglasubcategoria }}</td>
                <td>{{ subcategorias[1].nsubcategoria }}</td>
                <td>{{ bestidam2 }}</td>
                <td>{{ idam2 }}</td>
                <td><input type="text" [(ngModel)]="deseadoidam2"></td>
                <td>{{ brechaidam2 }}</td>
                <td>{{ prioidam2 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[37].csubcategoria }}</td>
                <td>{{ subcategorias[37].siglasubcategoria }}</td>
                <td>{{ subcategorias[37].nsubcategoria }}</td>
                <td>{{ bestprat2 }}</td>
                <td>{{ prat2 }}</td>
                <td><input type="text" [(ngModel)]="deseadoprat2"></td>
                <td>{{ brechaprat2 }}</td>
                <td>{{ prioprat2 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[50].csubcategoria }}</td>
                <td>{{ subcategorias[50].siglasubcategoria }}</td>
                <td>{{ subcategorias[50].nsubcategoria }}</td>
                <td>{{ bestprip1 }}</td>
                <td>{{ prip1 }}</td>
                <td><input type="text" [(ngModel)]="deseadoprip1"></td>
                <td>{{ brechaprip1 }}</td>
                <td>{{ prioprip1 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[67].csubcategoria }}</td>
                <td>{{ subcategorias[67].siglasubcategoria }}</td>
                <td>{{ subcategorias[67].nsubcategoria }}</td>
                <td>{{ bestprpt4 }}</td>
                <td>{{ prpt4 }}</td>
                <td><input type="text" [(ngModel)]="deseadoprpt4"></td>
                <td>{{ brechaprpt4 }}</td>
                <td>{{ prioprpt4 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[69].csubcategoria }}</td>
                <td>{{ subcategorias[69].siglasubcategoria }}</td>
                <td>{{ subcategorias[69].nsubcategoria }}</td>
                <td>{{ bestdeae1 }}</td>
                <td>{{ deae1}}</td>
                <td><input type="text" [(ngModel)]="deseadodeae1"></td>
                <td>{{ brechadeae1 }}</td>
                <td>{{ priodeae1 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[73].csubcategoria }}</td>
                <td>{{ subcategorias[73].siglasubcategoria }}</td>
                <td>{{ subcategorias[73].nsubcategoria }}</td>
                <td>{{ bestdeae5 }}</td>
                <td>{{ deae5 }}</td>
                <td><input type="text" [(ngModel)]="deseadodeae5"></td>
                <td>{{ brechadeae5 }}</td>
                <td>{{ priodeae5 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[74].csubcategoria }}</td>
                <td>{{ subcategorias[74].siglasubcategoria }}</td>
                <td>{{ subcategorias[74].nsubcategoria }}</td>
                <td>{{ bestdecm1 }}</td>
                <td>{{ decm1 }}</td>
                <td><input type="text" [(ngModel)]="deseadodecm1"></td>
                <td>{{ brechadecm1 }}</td>
                <td>{{ priodecm1 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[91].csubcategoria }}</td>
                <td>{{ subcategorias[91].siglasubcategoria }}</td>
                <td>{{ subcategorias[91].nsubcategoria }}</td>
                <td>{{ bestrsco1 }}</td>
                <td>{{ rsco1 }}</td>
                <td><input type="text" [(ngModel)]="deseadorsco1"></td>
                <td>{{ brecharsco1 }}</td>
                <td>{{ priorsco1 }}</td>
            </tr>
            <tr class="table-light">
                <td>{{ subcategorias[89].csubcategoria }}</td>
                <td>{{ subcategorias[89].siglasubcategoria }}</td>
                <td>{{ subcategorias[89].nsubcategoria }}</td>
                <td>{{ bestrsmi2 }}</td>
                <td>{{ rsmi2 }}</td>
                <td><input type="text" [(ngModel)]="deseadorsmi2"></td>
                <td>{{ brecharsmi2 }}</td>
                <td>{{ priorsmi2 }}</td>
            </tr> -->



        </tbody>
    </table>
    
    <div class="boton-terminar" *ngIf="mostrarPDF==true">
        <button (click)="agradecimiento()">Terminar cuestionario</button>
    </div>
    
</div>

