<div>
    <h1>Instrucciones para el cuestionario</h1>
    <p>A continuación, se presentarán una serie de preguntas relacionadas con el tema del estado actual de su ciberseguridad frente a ataques de tipo DDoS. Lea cuidadosamente cada pregunta y seleccione la respuesta que considere correcta. En el caso de no seleccionar ninguna respuesta, se guardará su respuesta como No definido.</p>
    <p><b>Nota: </b>No se puede regresar a la pregunta anterior, por lo que debe marcar cuidadosamente.</p>
    <button (click)="comenzarCuestionario()">Comenzar</button>
</div>
